%h1 
  =t '.event_list'
  =link_to image_tag("ical.png"), events_url(:ics)

- if @events.empty? 
  %p=t '.no_events'
- else    
  - @events.each do |event| 
    .event_block
      .started_at
        %span= event.started_at.to_formatted_s(:event)
      .linked_name= link_to event.name, event_path(event)
      - if !event.place.nil?
        .place
          %img{:src=>"images/tiny_pin.png"}
          →
          = [event.place.name, event.place.address].join(', ')
      - if event.vkontakte_event_id?
        .vk_event
          %img{:src=>"/images/vkontakte.gif"}
          →
          = vkontakte_event_url event.vkontakte_event_id
      .retweet= retweet_url event
    .twitter
      %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
      %script{:src => "/javascripts/twitter.js"}